<main id="main">
    <div id="form">
        <h1>Reserva tu mesa</h1>
        <input type="text" placeholder="Nombre del cliente" id="Nombre" required>
        <input type="number" placeholder="Cantidad de personas" id="Cantidad" required>
        <input type="number" placeholder="Número de reserva" id="Numero" required>
        <button type="submit" (click)="iniciar()"><strong>Revisar información</strong></button>
    </div>
</main>
<div id="none">
    <div id="mensajesx|x|">
        <h2 id="mensaje1"></h2>
        <h2 id="mensaje2"></h2>
        <h2 id="mensaje3"></h2>
    </div>
    <div id="cuadro">
        <label for="1">
            <p>Mesa 1</p>
        </label>
        <input type="checkbox" name="1" id="1"><br>
        <label for="2">
            <p>Mesa 2</p>
        </label>
        <input type="checkbox" name="2" id="2"><br>
        <label for="3">
            <p>Mesa 3</p>
        </label>
        <input type="checkbox" name="3" id="3"><br>
        <label for="4">
            <p>Mesa 4</p>
        </label>
        <input type="checkbox" name="4" id="4"><br>
        <label for="5">
            <p>Mesa 5</p>
        </label>
        <input type="checkbox" name="5" id="5"><br>
        <label for="6">
            <p>Mesa 6</p>
        </label>
        <input type="checkbox" name="6" id="6"><br>
        <label for="7">
            <p>Mesa 7</p>
        </label>
        <input type="checkbox" name="7" id="7"><br>
        <label for="8">
            <p>Mesa 8</p>
        </label>
        <input type="checkbox" name="8" id="8"><br>
        <label for="9">
            <p>Mesa 9</p>
        </label>
        <input type="checkbox" name="9" id="9"><br>
        <label for="10">
            <p>Mesa 10</p>
        </label>
        <input type="checkbox" name="10" id="10"><br>
        <label for="11">
            <p>Mesa 11</p>
        </label>
        <input type="checkbox" name="11" id="11"><br>
        <label for="12">
            <p>Mesa 12</p>
        </label>
        <input type="checkbox" name="12" id="12"><br>
    </div>
    <br><button class="button" (click)="validar()">validar</button>
    <br>
    <div id="mensaje"></div>
</div>
